body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
#login_div
{
  margin: 50px auto;
}
#titlelogin
{
  text-align: center;
  color: #FFD966;
  font-size: 30px;
}
#btnsair
{
  background: #1F4E78;
  color: #FFD966;
  border: 1px solid #1F4E78;
  border-radius: 5px;
  padding: 5px;
  display: block;
  width: 30%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#btnsair:hover
{
  background: #FFD966;
  color: #1F4E78;
  border: 1px solid #1F4E78;
  cursor: pointer;
}
#btFrota
{
  background: #1F4E78;
  color: #FFD966;
  border: 1px solid #1F4E78;
  border-radius: 5px;
  padding: 5px;
  display: block;
  width: 45%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
#btFrota:hover
{
  background: #FFD966;
  color: #1F4E78;
  border: 1px solid #1F4E78;
  cursor: pointer;
}
#btnacessar
{
  background: #FFD966;
  color: #1F4E78;
  border: 1px solid #1F4E78;
  border-radius: 5px;
  padding: 5px;
  display: block;
  width: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  margin: 0px auto;
}

#btnacessar:hover
{
  background: #1F4E78;
  color: #FFD966;
  border: 1px solid #FFD966;
  cursor: pointer;  
}
#logo
{
  margin: 100px 35vw 0px 35vw;
}